<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants in your heart</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favico.ico">

    <!-- Vendor CSS (Icon Font) -->

    
<link rel="stylesheet" href="/css/vendor/fontawesome.min.css" />
<link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
<link rel="stylesheet" href="/css/vendor/simple-line-icons.min.css" />
<link rel="stylesheet" href="/css/vendor/themify-icons-min.css" /> 


    <!-- Plugins CSS (All Plugins Files) -->

    
<link rel="stylesheet" href="/css/plugins/swiper-bundle.min.css" />
<link rel="stylesheet" href="/css/plugins/animate.min.css" />
<link rel="stylesheet" href="/css/plugins/lightgallery.min.css" />
<link rel="stylesheet" href="/css/plugins/aos.min.css" />
<link rel="stylesheet" href="/css/plugins/nice-select.min.css" /> 


    <!-- Main Style CSS -->

    <!-- <link rel="stylesheet" href="/css/style.css" />  -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->


    <!-- <link rel="stylesheet" href="/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/css/plugins/plugins.min.css"> -->
    <link rel="stylesheet" href="/css/style.min.css">




</head>