<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logoEco.svg">
    <link rel="stylesheet" href="css/login.css">
    <title>LogIn</title>
    
</head>
<body>
    <!-- <a href="#"><img id="logoEco" src="images/logo/logo.png" alt=""></a> -->
    <div class="container">
        <form action="/login" method="post" id="login" class="form">
            <h1 class="form-title">ĐĂNG NHẬP</h1>
            <% message=typeof message !='undefined' ? message : undefined; %>
            <% if(message != undefined) { %>
                
                <h3 style="color: red" class="form-slogan"><%= message %></h3>
            <% } else { %>
                <h3 class="form-slogan">Chào mừng bạn đến nhà hàng Anh Thư</h3>
             
            <% } %>
          
            <!-- <div class="form-message form-error"></div> -->
            <div class="form-input-group">
                <label for="username" class="form-label">Tên đăng nhập</label>
                <input required type="text" id="username" name="username" class="form-input" autofocus placeholder="Vui lòng nhập tên tài khoản">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <label for="password" class="form-label">Mật khẩu</label>
                <input required type="password" id="password" name="password" class="form-input" autofocus placeholder="Vui lòng nhập mật khẩu">
                <div class="form-input-error-message"></div>
            </div>
            <button class="form-button" type="submit">Tiếp tục</button>
            <p class="form-text">
                <a href="#" class="form-link">Bạn quên mật khẩu của bạn?</a>
            </p>
            <p class="form-text">
                <a href="#" class="form-link" id="linkCreateAccount">Bạn chưa có tài khoản? Tạo tài khoản </a>
            </p>
        </form>
    </div>

    <script src="js/login.js"></script>
</body>
</html>