<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logoEco.svg">
    <link rel="stylesheet" href="css/login.css">
    <title>LogIn</title>
    
</head>
<body>
    <!-- <a href="#"><img id="logoEco" src="images/logo/logo.png" alt=""></a> -->
    <div class="container">
        <form name="loginForm" action="#" method="post" id="login" class="form" enctype="application/x-www-form-urlencoded" onsubmit="return logInValidation()">
            <h1 class="form-title">ĐĂNG NHẬP</h1>
            <h3 class="form-slogan">Chào mừng bạn đến nhà hàng Anh Thư</h3>
            <!-- <div class="form-message form-error"></div> -->
            <div class="form-input-group">
                <label for="fullname" class="form-label">Email</label>
                <input required type="text" id="fullname" name="fullname" class="form-input" autofocus placeholder="Enter your username or email">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <label for="psw" class="form-label">Mật khẩu</label>
                <input required type="password" id="psw" name="psw" class="form-input" autofocus placeholder="Password">
                <div class="form-input-error-message"></div>
            </div>
            <button class="form-button" type="submit">Tiếp tục</button>
            <p class="form-text">
                <a href="#" class="form-link">Bạn quên mật khẩu của bạn?</a>
            </p>
            <p class="form-text">
                <a href="#" class="form-link" id="linkCreateAccount">Bạn chưa có tài khoản? Tạo tài khoản </a>
            </p>
        </form>
        <form class="form form-hidden" id="createAccount">
            <h1 class="form-title">SIGN IN</h1>
            <h3 class="form-slogan">Join EcoFarm for our better farm</h3>
            <div class="form-message form-error"></div>
            <div class="form-input-group">
                <label for="fullname" class="form-label">Username</label>
                <input required type="text" id="signupUsername" class="form-input" autofocus placeholder="Enter your full name">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <label for="signupEmail" class="form-label">Email</label>
                <input required type="email" id="signupEmail" class="form-input" autofocus placeholder="Email Address">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <label for="signupPassword" class="form-label">Password</label>
                <input required type="password" id="signupPassword" class="form-input" autofocus placeholder="Password">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <label for="signupPassword2" class="form-label">Confirmed password</label>
                <input required type="password" id="signupPassword2" class="form-input" autofocus placeholder="Confirm password">
                <div class="form-input-error-message"></div>
            </div>
            <button class="form-button" type="submit" onclick="window.location.href='login.html'">Continue</button>
            <p class="form-text">
                <a href="#" class="form-link" id="linkLogin">Already have an account? Sign in</a>
            </p>
        </form>
    </div>

    <script src="js/login.js"></script>
</body>
</html>