<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/login_register.css">
    <title>Login And Registration Form</title>
</head>
<body>
    <div class = "hero">
        <div class = "form-box">
            <div class = "button-box">
                <div id="btn"></div>
                <button onclick="login()"  type = "button" class = "toggle-btn">
                    Login
                </button>
                <button onclick="register()" type = "button" class = "toggle-btn">
                    Register
                </button>
            </div>
            <form id="login" class = "input-group">
                 <input type = "text" class = "input-field" placeholder="User Id" required>
                <input type = "text" class = "input-field" placeholder="Enter Password" required>
               <br><br><br> 
                <button type="submit" class="submit-btn">Log in</button>
            </form>

            <form id="register" class = "input-group">
                <input type = "text" class = "input-field" placeholder="User Id" required>
                <input type = "text" class = "input-field" placeholder="Email" required>
               <input type = "text" class = "input-field" placeholder="Enter Password" required>
              <br><br><br> 
               <button type="submit" class="submit-btn">Register</button>
           </form>
            </div>
            <!-- <div class = "social-icons">
                <img src="./img/fb.png">
                <img src="./img/tw.png">
                <img src="./img/gp.png">
            </div> -->
        </div>
        <!-- <div class = "social-icons">
            <img >
        </div> -->

        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "190px";
            }
            function login(){
                x.style.left = "30px";
                y.style.left = "450px";
                z.style.left = "70px";
            }
        </script>
</body>
</html>