<div class="header section">
    <!-- Header Bottom Start -->
    <div class="header-bottom">
        <div class="header-sticky">
            <div class="container">
                <div class="row align-items-center position-relative">

                    <!-- Header Logo Start -->
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="header-logo">
                            <a href="/"><img src="/images/logo/logo.png" alt="Site Logo" /></a>
                        </div>
                    </div>
                    <!-- Header Logo End -->

                    <!-- Header Menu Start -->
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="main-menu">
                            <ul>
                                <li class="has-children">
                                    <a href="/home">Trang chủ</a>
                                </li>
                                <li class="has-children position-static">
                                    <a href="">Nhà hàng</a>
                                    <ul class="mega-menu">
                                        <li class="mega-menu-col">
                                            <ul class="m-b-n10">
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad439">Hệ thống nhà hàng phố 79</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad43a">Chuỗi Ân Nam Quán</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad43b">Nhà hàng sườn nướng Hàn Quốc</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad43c">Chuỗi Lẫu Cua Đất Mũi</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad440">Nhà hàng EON 51</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <ul class="m-b-n10">
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad442">Nhà hàng Út Cà Mau</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad443">Buffet Hoàng Yến</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad444">Hàng Dương Quán</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad445">Nhà hàng Gạo</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad446">Chuỗi King BBQ - Vua nướng Korea</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <ul class="m-b-n10">
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad447">Soa soa</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad448">Quê nhà</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad449">Red Chilli Sea Food</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad43e">Chuỗi San Fu Lou</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad43f">Chuỗi Dìn Kí</a></li>
                                               
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <ul class="m-b-n10">
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad44c">Nhà hàng Hội Ngộ</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad44d">Nhà hàng Pachi Pachi</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad44a">Tajmasago Castle Buffet</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad43d">Chuỗi Wrap & Roll</a></li>
                                                <li><a href="/home/restaurants/63eed27b029d15940f1ad441">Chuỗi Ngọc Sương Sài Gòn</a></li>
                                               
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#">Giới thiệu</a>
                                </li>
                                <li class="has-children">
                                    <a href="#">Liên hệ</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <!-- Header Menu End -->

                    <!-- Header Action Start -->
                    <div class="col-lg-3 col-md-8 col-6">
                        <div class="header-actions">

                            <!-- Header Action Search Button Start -->
                            <div class="header-action-btn header-action-btn-search d-none d-md-flex">
                                <div class="action-execute">
                                    <a class="action-search-open" href="javascript:void(0)"><i class="icon-magnifier icons"></i></a>
                                    <a class="action-search-close" href="javascript:void(0)"><i class="ti-close"></i></a>
                                </div>
                                <!-- Search Form and Button Start -->
                                <form class="header-search-form" action="#">
                                    <input type="text" class="header-search-input" placeholder="Search Our Store">
                                    <button class="header-search-button"><i class="icon-magnifier icons"></i></button>
                                </form>
                                <!-- Search Form and Button End -->
                            </div>
                            <!-- Header Action Search Button End -->

                            <!-- Header My Account Button Start -->
                            <div id="accountManage">

                            </div>
                            <!-- Header My Account Button End -->

                            <!-- Header Action Button Start -->
                            <div class="header-action-btn header-action-btn-cart d-none d-sm-flex">
                                <a class="cart-visible" href="/cart">
                                    <i class="icon-handbag icons"></i>
                                    <span class="header-action-num" id="numberProductInCart"></span>
                                </a>
                                <!-- Header Cart Content End -->

                            </div>
                            <!-- Header Action Button End -->

                            <!-- Mobile Menu Hambarger Action Button Start -->
                            <a href="javascript:void(0)" class="header-action-btn header-action-btn-menu d-lg-none d-md-flex">
                                <i class="icon-menu"></i>
                            </a>
                            <!-- Mobile Menu Hambarger Action Button End -->

                            <script>
                                var xhttp = new XMLHttpRequest();
                                xhttp.responseType = "json";
                                xhttp.onload = function (e) {
                                    if (this.readyState == 4 && this.status == 200) {
                                        let username =this.response.user;
                                        let content = "";
                                        if(username != undefined){
                                            content += '<a href="/myaccount" class="header-action-btn header-action-btn-wishlist">';
                                            content += '    <i class="icon-user icons"></i>';
                                            content +=     username 
                                            content += '</a>';
                                        } else {
                                            content += '<a href="/login" class="header-action-btn header-action-btn-wishlist">';
                                            content += '<i class="icon-user icons"></i>Đăng nhập</a>';
                                        }
                                        document.getElementById("accountManage").innerHTML = content;
                                    }
                                };
                                xhttp.open("GET", "/api/user");
                                xhttp.send();
                                var xhttp1 = new XMLHttpRequest();
                                xhttp1.responseType = "json";
                                xhttp1.onload = function (e) {
                                    if (this.readyState == 4 && this.status == 200) {
                                        let cart = JSON.parse(this.response.cart);
                                        document.getElementById("numberProductInCart").innerHTML = cart.length > 0 ? cart.length.toString() : "";
                                    }
                                };
                                xhttp1.open("GET", "/api/cart");
                                xhttp1.send();
                            </script>
                        </div>
                    </div>
                    <!-- Header Action End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom End -->

</div>